{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'E-mail de réinitialisation'|trans({}) }}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}{% endblock %}

{% block fos_user_content %}
	<div class="col-md-4 col-md-offset-4">
		<p>
		{{ 'resetting.check_email'|trans({'%email%': email}) }}
		</p>
	</div>
{% endblock %}
