{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{{ "Image"|trans }} #{{ image.id }}{% endblock %}

{% block content %}
    {% for message in app.session.flashbag.get('infos') %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center alert alert-success" role="alert">{{ message }}</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 first-img">
            <div class="thumbnail">
                <img src="{{ asset('uploads/img/' ~ image.path) }}" alt="First image"/>
            </div>                
        </div>    
    </div> 
{% endblock %}
