    <footer class="footer">
		<div class="container">
			<p class="text-muted"><a href="{{ path('apropos') }}">À propos</a> - <a href="{{ path('mentions') }}">Mentions légales</a> <span class="pull-right">&copy; 2016 <a href="https://github.com/PTony">PTony</a></span></p>
		</div>
    </footer>