{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block fil_ariane %}{% endblock %}
{% block content %}
	<h1>Mentions légales</h1>
{% endblock %}
{% block fos_user_content %}{% endblock fos_user_content %}